/* Navbar*/

body {
  font-size: 13px;
}
.logo {
  display: none;
}
.navigation-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  position: absolute;
}

.logotext {
  width: 60px;
  margin-top: 0px;
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
  border-radius: 100%;
}

.menu {
  margin-top: 8px;
  margin-right: 0;
}


.menu ul li {
  font-size: 14px;
  padding: 3px;
  
}

.navigation-bar ul li {
  padding: 0px;
}

.menu :hover {
  color: #ff5003;
  background-color:none;
  border-radius: none;
}

/* footer  */
.footertop {
  margin-left: -40px;
}

.footerbottom p {
  font-size: 11px;
}

.sociallinks {
  display: none;
}

.footertop p {
  width: 100%;
  max-width: 500px;
}

/* Home page  */

.page1 {
  display: block;
  margin: 120px auto;
  width: 100%;
  height: 500px;
  position: relative;
}
.page2 {
  margin-top: -200px;
}

.page3,
.page4 {
  margin-top: -10px;
}

.page2,
.page3,
.page4 {
  display: block;
  width: 100%;
  height: 500px;
}

.texts {
  margin-top: 150px;
}

.texts p {
  font-size: 12px;
}
.cameravector {
  display: none;
}

.button {
  width: 130px;
  height: 35px;
}

.button a {
  font-size: 14px;
}

/* Product Page  */

.container{
  margin-top: 140px;
}
.slider,
.downArrow {
  display: none;
}

.product {
  width: 260px;
  height: 345px;
  margin: 15px 5px;
}

.p-text h3 {
  font-size: 14px;
  margin-top: -22px;
}

.buynowbutton {
  width: 112px;
  height: 30px;
  border-radius: 5px;
}
.product a img {
  width: 119px;
  margin-left: 0px;
}

.gimble .product .p-img a img {
  width: 50%;
}

.gimble .product{
  width: 260px;
  height: 345px;
}

.lens .product .p-img a img {
  width: 50%;
}

.lens .product{
  width: 260px;
  height: 345px;
}
/* Product info page  */

.related-products {
  display: none;
}

.current-product-details {
  flex-direction: column;
}

.specs-table{
  width: 60%;
}

.product-all-specs{
  width: 300px;
}

.product-specs{
  width: 300px;
}


/* Blog page  */

.blog-page {
  margin-top: 160px;
}
.center {
  text-align: justify;
  width: 90%;
}

.blog-paragraph {
  width: 90%;
  text-align: justify;
}

.blog-page img {
  width: 90%;
}

.blog-title{
  text-align: left;
}

/* Research page  */

.Research_intro {
  flex-direction: column;
  margin-top: 150px;
}

.Research_intro p {
  margin-top: 20px;
}

/* About us page  */

.members {
  flex-direction: column;
  flex-wrap: wrap;
}

.messagebox {
  width: 270px;
}

.about_website {
  margin-top: 150px;
  width: 90%;
}

.about_website h3 {
  font-size: 22px;
}

.members a {
  width: 90%;
}


/* Individual portfolio page  */

.details{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail {
  width: 300px;
}

.profile_pic a img {
  width: 250px;
}

.profile_pic img {
  width: 250px;
}

.personal_detail{
  width: 200px;
}
